@font-face {
  font-family: 'Pokemon';
  src: url('./Pokemon\ Solid.ttf') format('truetype');
  /* Add other font properties as needed */
}

body{
  font-family: 'Pokemon', monospace;
  text-align: center;
}
